venv
/**/.env
/**/logs/**
/**/*.log
.devcontainer/.backup
/**/.pytest_cache
tests/logs/**
.vscode
.idea
/**/__pycache__
/.devcontainer/mongo_data/
/build/
/dist/
/src/FastAPI_GraphQL_MongoDB_Demo.egg-info/
/FastAPI_GraphQL_MongoDB_Demo.egg-info/
/src/logs/**
/**/.DS_Store
!/src/logs/
src/Resources/datasets/**
!src/Resources/datasets
/.devcontainer/milvus_data/
/.devcontainer/mysql_data/
/.backup/

/src/Resources/models/**
!/src/Resources/models/
/.run/
/.github/workflows/
/src/milvus/flagged/
/src/milvus/logs/
/.devcontainer/certs/data/etcd/**
!/.devcontainer/certs/data/etcd
