# Change this file from docker.env to .env and fill in the values, reference docker-compose.yml file for defaults.
#
# Runtime Environment settings, use to differentiate between development, user acceptance testing and production
# environments.  This is used to determine which configuration file to use during version control pull requests and
# commits. DEV and UAT environments should be as close to production as possible.
###################################################################################################

RUNTIME_ENV=dev

# App Configuration
APP_NAME=question_answering
APP_HOST='0.0.0.0'
APP_PORT=8000
APP_USER=milvus
APP_SOURCE=${PWD}
APP_LOG_LEVEL=debug

# MongoDB Configuration
MONGODB_USERNAME=<username used to authenticate mongodb>
MONGODB_PASSWORD=<password corresponding to the username>
MONGODB_HOST=<IP of MongoDB container>
MONGODB_PORT=<port for mongodb>
MONGODB_DATABASE=<database name for application data>
MONGO_EXPRESS_PORT=<port-mongo allowed for mongo express>

# HuggingFace Token
HUGGINGFACE_API_TOKEN=<token for HuggingFace API>

# OpenAI Token
OPENAI_API_TOKEN=<token for OpenAI API>

# Minio Configuration:
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ADDRESS='minio:9000'

# MYSQL Configuration
MYSQL_HOST=0.0.0.0
MYSQL_PORT=3306
MYSQL_USER=mysql
MYSQL_PASSWD=developer
MYSQL_DATABASE=milvus_data
MYSQL_DATABASE_TABLE_NAME=question_answering

# Milvus Configuration
MILVUS_COLLECTION=question_answering
MILVUS_USER=milvus
MILVUS_PASSWORD=developer
MILVUS_HOST=0.0.0.0
MILVUS_PORT=19530
MILVUS_CONNECTION_ALIAS=default

# ETCD Configuration
ETCD_HOST='http://0.0.0.0:2380'
ETCD_PORT=2379
ETCD_NAME='milvus_etcd0'
ETCD_ENDPOINTS='http://etcd:2379,http://etcd:2379'
ETCD_INITIAL_URL='http://127.0.0.1:2380'
ETCD_LISTEN_PEER_URLS='http://0.0.0.0:2379'
ETCD_ADVERTISE_CLIENT_URLS='http://127.0.0.1:2379'
ETCD_LISTEN_CLIENT_URLS='http://0.0.0.0:2379'