backports.zoneinfo==0.2.1;python_version<="3.9"
bcrypt
datasets
fastapi
gensim
gradio
graphene
graphene-mongo
graphql-core
jsonlines
mongoengine
mysql-connector-python
nltk
python-dotenv
pymilvus
pymysql
pyOpenSSL
requests
scikit-learn
sentence-transformers
tokenizers
torch
transformers
uvicorn
