backports.zoneinfo==0.2.1;python_version<="3.9"
bcrypt
black
build
datasets
fastapi
gensim
gradio
graphene
graphene-mongo
graphql-core
jsonlines
jupyter
requests
mongoengine
mysql-connector-python
nltk
pymilvus
pymysql
pyOpenSSL
python-dotenv
pytest
pytest-asyncio
requests
setuptools
scikit-learn
sentence-transformers
tokenizers
transformers
urllib3==1.25.11
uvicorn
wheel
